---
import Section from '@/components/layout/Section.astro';
import Card from '@/components/ui/Card.astro';
import PageLayout from '@/layouts/PageLayout.astro';
import { siteConfig } from '@/config/site';
import ProjectCard from '@/features/projects/ProjectCard.astro';
import { getTagIndex, getTaggedContent, getTaggedContentDescription } from '@/lib/content/tags';
import type { PostEntry } from '@/lib/content/posts';
import type { ProjectEntry } from '@/lib/content/projects';

export async function getStaticPaths() {
	const tagIndex = await getTagIndex();
	return Promise.all(tagIndex.map(async ({ tag }) => {
		const { posts, projects } = await getTaggedContent(tag);
		return {
			params: { tag },
			props: {
				posts,
				projects
			}
		};
	}));
}

interface Props {
	posts: PostEntry[];
	projects: ProjectEntry[];
}

const { tag } = Astro.params;
const title = `#${tag} | ${siteConfig.meta.title}`;
const description = getTaggedContentDescription(tag!);

const { posts, projects } = Astro.props as Props;
---

<PageLayout head={{ title, description }} heading={`#${tag}`}>
	<a slot="after-heading" href="/tags" class="underline hover:text-[var(--accent-500)]">all tags →</a>

	{
		projects?.length ? (
			<Section>
				<h2 class="mb-3 text-lg font-bold">Projects</h2>
				<div class="flex flex-col gap-4">
					{projects.map((p) => (
						<ProjectCard project={p} />
					))}
				</div>
			</Section>
		) : null
	}

	{
		posts?.length ? (
			<Section>
				<h2 class="mb-3 text-lg font-bold">Posts</h2>
				{posts.map((post) => (
					<div class="mb-4 basis-1 last:mb-0">
						<Card post={post} />
					</div>
				))}
			</Section>
		) : null
	}
</PageLayout>
