---
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar.astro';
import { AppConfig } from '@/utils/AppConfig';
import '@/styles/global.css';

export interface Props {
	head: {
		title: string;
		description: string;
	};
}

const {
	head: { title, description }
} = Astro.props as Props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="author" content={AppConfig.author} />

		<!-- Canonical URL -->
		<link rel="canonical" href={Astro.url.href} />

		<!-- Open Graph -->
		<meta property="og:site_name" content={AppConfig.site_name} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:locale" content={AppConfig.locale} />

		<!-- Twitter -->
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:card" content='summary' />

		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="alternate" type="application/rss+xml" href="/rss.xml" />
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👨‍💻</text></svg>"
		/>
	</head>
	<body class="flex min-h-screen flex-col bg-[var(--page-bg)] font-mono text-[var(--text-color)]">
		<Navbar />
		<div class="flex-1">
			<slot />
		</div>
		<Footer />
	</body>
</html>
